.MarketingHeroSection *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.MarketingHeroSection{
    /* background: #f9f9f9; */
  text-align: center;
  height: 60vh;
    position: relative;
    /* background: url('https://previews.123rf.com/images/bluebay/bluebay1407/bluebay140700186/29980787-3d-business-graph-background.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://previews.123rf.com/images/bluebay/bluebay1407/bluebay140700186/29980787-3d-business-graph-background.jpg');
}

.MarketingHeroSection .MarketingHeroSection-Content{
    position: relative;  
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

