.AboutUs{
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(https://assets.datamation.com/uploads/2023/08/dm08172023-what-is-data-analytics.png);
    background-size: cover;
    background-position: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(https://assets.datamation.com/uploads/2023/08/dm08172023-what-is-data-analytics.png);
    color: white;
    min-height: 100vh;
    border-radius: 10px;
    
}

.AboutUs .ButtonStyle{
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;

}
.AboutUs .OverLay{
    

    background: linear-gradient(90deg,rgb(0, 0, 255) 0% ,rgba(0, 0, 100, 1) 60%, rgb(0, 0, 255) 100%);
    width: 97.5%;
    opacity: 0.5;
    min-height: 100vh;
    mix-blend-mode: overlay;
    position: absolute;
    border-radius: 5px;
}

.AboutUs .LayoutStyle{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    min-height: calc(300px + 10vh);
    background: transparent;
    font-size: calc(0.5rem + 1vw);
    font-weight: bold;
    color: white;
    /* opacity: 0; */
    animation: scroll-y 1s ease;
    animation-timeline: view(90% 15%);
}

.AboutUs .LayoutStyle > div  h2{
    background: linear-gradient(90deg, rgb(140, 218, 248) 0%, rgb(10, 250, 42) 30%, rgb(140, 218, 248) 60%, rgb(10, 250, 42) 100%);
    background-clip: text;
    color: hsl(0 0% 100% /0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: text-glow .5s linear;
    animation-timeline: view(50% 9%);
}
.AboutUs .LayoutStyle > div p:first-of-type{
    display: inline;
    background: linear-gradient(90deg, rgb(140, 218, 248) 0%, rgb(10, 250, 42) 30%, rgb(140, 218, 248) 60%, rgb(10, 250, 42) 100%);
    background-clip: text;
    background-repeat: no-repeat;
    color: transparent;
    animation: text-glow 1s linear forwards;
    animation-timeline: view(50% 5%);
    animation-range: 0% 70%;
    /* animation-delay: 0.5s; */

}
@keyframes text-glow {
    0% {
        background-size: 0% 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}

@keyframes scroll-y {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}
