.DrawerCard{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

.DrawerCard:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translate3d(0, -5px, 0);
}

.DrawerCard .ant-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.DrawerCard .ant-drawer .ant-drawer-content-wrapper{
    background-color: #f5f5f5;
    width: 50%;
}

.DrawerCard .ant-drawer .ant-drawer-content-wrapper .ant-drawer-content{
    background-color: #f5f5f5;
    width: 90%;
    margin-left:auto;
}

.DrawerCard .ant-drawer .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-header{
    background-color: #d4d3d3;
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 10px;
}
