.contact-section {
  background-color: #141617;
  padding: 50px 40px 50px 40px;
  color: #ffffff;
}
.contact-details h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

contact-details h1 {
  font-size: 32px; /* Default size for larger screens */
  color: #fff;
  margin-bottom: 16px;
}

/* Adjust font size for medium screens */
@media (max-width: 992px) {
  .contact-details h1 {
    font-size: 28px;
  }
}

/* Adjust font size for small screens */
@media (max-width: 768px) {
  .contact-details h1 {
    font-size: 24px;
  }
}

/* Adjust font size for extra small screens */
@media (max-width: 576px) {
  .contact-details h1 {
    font-size: 20px;
  }
}

.contact-details h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Adjust font size for medium screens */
@media (max-width: 992px) {
  .contact-details h3 {
    font-size: 22px;
  }
}

/* Adjust font size for small screens */
@media (max-width: 768px) {
  .contact-details h3 {
    font-size: 20px;
  }
}

/* Adjust font size for extra small screens */
@media (max-width: 576px) {
  .contact-details h3 {
    font-size: 18px;
  }
}
.contact-details p {
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
}

/* Adjust font size for medium screens */
@media (max-width: 992px) {
  .contact-details p {
    font-size: 14px;
  }
}

/* Adjust font size for small screens */
@media (max-width: 768px) {
  .contact-details p {
    font-size: 13px;
  }
}

/* Adjust font size for extra small screens */
@media (max-width: 576px) {
  .contact-details p {
    font-size: 12px;
  }
}

/* Contact form */
.main-heading {
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

/* Adjust font size for medium screens */
@media (max-width: 992px) {
  .main-heading {
    font-size: 28px;
  }
}

/* Adjust font size for small screens */
@media (max-width: 768px) {
  .main-heading {
    font-size: 24px;
  }
}

/* Adjust font size for extra small screens */
@media (max-width: 576px) {
  .main-heading {
    font-size: 20px;
  }
}

.contact-form-card {
    padding: 24px;
    background-color: #001529;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px rgba(162, 156, 185, 0.897);
    border-radius: 20px;
  }
.card-title {
  font-size: 32px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.ant-card-head-title {
  text-align: center;
}
.contact-form .ant-form-item-label > label {
    font-size: 20px;
    color: #ffffff;
}

.contact-form .ant-input,
.contact-form .ant-input-textarea {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.submit-button {
  width: 100%;
  background-color: #266192;
  border-color: #ebf0f3;
  height: 55px;
  font-size: 16px;
  border-radius: 8px;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #182e3f;
  border-color: #ffffff;
}