.AutomationServices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
    /* text-align: center; */
}

.AutomationServices .AutomationServices-Content{
    width: 80%;
    margin: 0 auto;
    text-align :center;
}

@media screen and (max-width: 768px){
    .AutomationServices .AutomationServices-Content{
        width: 90%;
    }
    
}