.contentStyle{
    margin: 0;
    padding: 0 calc(2rem + 2vw);
    aspect-ratio: 16/7;
    color: #fff;
        text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: calc(0.5rem + 1vw);
}
.contentStyle > span {
    font-size: calc(0.5rem + 1vw);
    font-weight: 700;
    color: #f9a825;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentStyle span img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.carouselStyle{
     width: 70%;
    aspect-ratio: 16/7;
    margin: auto;
}
.testimonialStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://e1.pxfuel.com/desktop-wallpaper/483/252/desktop-wallpaper-dark-tech-black-technology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    height: 100vh;
}
.testimonialStyle a{
    color: #f9a825;
    text-decoration: none;
}
.testimonialStyle a:hover{
    color: #f9a825;
    text-decoration: underline;
}
.testimonialStyle >span{
    font-size: calc(0.4rem + 1vw);
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .carouselStyle{
        width: 100%;
        aspect-ratio: 16/8;
    }
    
}